# PROJECT
Project creating probabilities of households picking each choice of the 500 alternatives from body type, fuel type and age

In [1]:
import pandas as pd
import numpy as np

In [2]:
'''
these files will be our input and contain household data from NHTS, vehicle cost data
and EPA data on body type, fuel type and age

'''
epa_and_vehiclecost   = pd.read_csv('combined epa and veh cost.csv')
epa_and_vehiclecost .set_index("CHOICE4",inplace=True,drop=True)
NHTS = pd.read_csv('NHTS2017.csv')
NHTS.set_index("HOUSEID",inplace=True,drop=True)

In [3]:
vehf12  = pd.read_csv('vehtypef12.csv', usecols= [2,4,5])
vehf12.dropna(subset=["variable"],inplace=True)
vehf12.set_index("variable",inplace=True,drop=True)
vehf12

          Coefficient  Standard error
variable
smsa_age     0.013400        0.000881
smsa_mc      0.101662        0.035200
smsa_pu      0.333316        0.015600
smsa_suv     0.033400        0.012700
smsa_van     0.126715        0.023900
...               ...             ...
i025_van     0.252423        0.030700
age20       -0.339269        0.019600
age19       -1.957385        0.023500
age18       -1.655332        0.021600
age17       -1.357370        0.020100

[134 rows x 2 columns]

In [4]:
x= vehf12.loc["i025_age"]
x

Coefficient       0.101749
Standard error    0.001280
Name: i025_age, dtype: float64

In [5]:
epa_and_vehiclecost

,CHOICE4B,VEHTYPE2_TXT,FUELTYPE2_TXT,VEHAGE_C20,MODEL_YEAR,BT-FT-Year,NumMakes,NumModels,MPG,Range,charge240,co2gpm,NewPrice,DepreciatedValue,AnnMaintCost
CHOICE4,,,,,,,,,,,,,,,
1101,1,Car,Gas,1,2017,Car-Gas-2017,39,738,24.0,0,0.0,388.85,32927,25431,1052
1102,2,Car,Gas,2,2016,Car-Gas-2016,39,734,23.7,0,0.0,392.27,33384,23045,1052
1103,3,Car,Gas,3,2015,Car-Gas-2015,39,740,23.4,0,0.0,398.43,33369,20528,1052
1104,4,Car,Gas,4,2014,Car-Gas-2014,41,717,23.2,0,0.0,402.86,32571,17802,1052
1105,5,Car,Gas,5,2013,Car-Gas-2013,40,702,23.1,0,0.0,402.94,32977,15964,1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5516,496,Motorcycle,BEV,16,2002,Motorcycle-BEV-2002,0,0,0.0,0,0.0,0.00,11382,1146,227
5517,497,Motorcycle,BEV,17,2001,Motorcycle-BEV-2001,0,0,0.0,0,0.0,0.00,11382,956,227
5518,498,Motorcycle,BEV,18,2000,Motorcycle-BEV-2000,0,0,0.0,0,0.0,0.00,11382,784,227
5519,499,Motorcycle,BEV,19,1999,Motorcycle-BEV-1999,0,0,0.0,0,0.0,0.00,11382,624,227
5520,500,Motorcycle,BEV,20,1998,Motorcycle-BEV-1998,0,0,0.0,0,0.0,0.00,11382,473,227

In [6]:
NHTS

,VEHID,RANK,VEHYEAR,VEHAGE,MAKE,MODEL,FUELTYPE,VEHTYPE,WHOMAIN,HFUEL,...,CBSA_SQMI,CBSA_CHARGERS_PERCAP,CBSA_CHARGERS_PERMI,ST_CHARGERS,ST_POP,ST_SQMI,ST_CHARGERS_PERCAP,ST_CHARGERS_PERMI,CHARGERS_PERCAP,CHARGERS_PERMI
HOUSEID,,,,,,,,,,,,,,,,,,,,,
30000007,1,1,2007,10,49,49032,1,1,3,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
30000007,2,4,2004,13,49,49442,1,2,-8,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
30000007,3,3,1998,19,19,19014,1,1,1,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
30000007,5,2,1993,24,20,20481,1,4,2,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
30000008,1,4,2014,3,20,20028,1,1,97,-1,...,6027.170408,0.000274,0.177695,1565.0,5424853.0,65496.0,0.000288,0.023895,0.000274,0.177695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40794294,2,1,2011,6,20,20026,3,1,1,2,...,4206.629779,0.000493,0.403173,26419.0,36631731.0,163695.0,0.000721,0.161392,0.000493,0.403173
40794301,1,1,2012,5,37,37441,1,2,1,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
40794301,2,2,2005,12,49,49032,1,1,4,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
40794301,3,4,1996,21,35,35443,1,2,3,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013
40794301,5,3,1990,27,35,98998,1,1,1,-1,...,NaN,NaN,NaN,2584.0,9448939.0,53819.0,0.000273,0.048013,0.000273,0.048013

In [ ]:
'''
These variables are defined in the alogit file and will be amking use of codes from the NHTS codebook and table
   
    INC025   = ifin(HHFAMINC,1,3)      
    INC2550  = ifin(HHFAMINC,4,5)      
    INC50100 = ifin(HHFAMINC,6,7)   
    INC100150= ifin(HHFAMINC,8,9)  
    INC150P  = ifge(HHFAMINC,10)  
    INC_MISS = iflt(HHFAMINC,0)
    RURALa(a) = a * RURAL
    ONEVEH = ifeq(HHVEHCNT,1)
    VHLTDR = ifgt(HHVEHCNT,1) * iflt(HHVEHCNT,PERSONS16P)
    VHEQDR = ifgt(HHVEHCNT,1) * ifeq(HHVEHCNT,PERSONS16P)
    VHGTDR = ifgt(HHVEHCNT,1) * ifgt(HHVEHCNT,PERSONS16P)
    NUM_CHLD3 = min(YOUNGCHILD + CHILDREN, 3)
    DSTWK = min(DSTTOWKAVG, 100)
    SFO = ifeq(HH_CBSA, 41860) + ifeq(HH_CBSA, 47900)
    SAN = ifeq(HH_CBSA, 41740)
    ATL = ifeq(HH_CBSA, 12060) 
    SEA = ifeq(HH_CBSA, 42660) 
    DET = ifeq(HH_CBSA, 19820) 
    MSP = ifeq(HH_CBSA, 33460) 
    DCA = ifeq(HH_CBSA, 47900) 
    OREG = ifeq(HHSTFIPS, 41) 
    OHIO = ifeq(HHSTFIPS, 39)  
    SMSA = ifeq(HH_CBSA, 0) * ifeq(RURAL, 0)
'''

In [7]:
#starting with income which is the first 6 variables above
#defining the columns that give the conditions for HHFAMINC
NHTS['INC025'] = 0
NHTS['INC025'] = np.where((NHTS['HHFAMINC']>=1) & (NHTS['HHFAMINC']<=3), 1, 0)
NHTS['INC2550'] = 0
NHTS['INC2550'] = np.where((NHTS['HHFAMINC']>=4) & (NHTS['HHFAMINC']<=5), 1, 0)
NHTS['INC50100'] = 0
NHTS['INC50100'] = np.where((NHTS['HHFAMINC']>=6) & (NHTS['HHFAMINC']<=7), 1, 0)
NHTS['INC100150'] = 0
NHTS['INC100150'] = np.where((NHTS['HHFAMINC']>=8) & (NHTS['HHFAMINC']<=9), 1, 0)
NHTS['INC150P'] = 0
NHTS['INC150P'] = np.where((NHTS['HHFAMINC']>=10), 1, 0)
NHTS['INC_MISS'] = 0
NHTS['INC_MISS'] = np.where((NHTS['HHFAMINC']<=0), 1, 0)

In [8]:
NHTS

,VEHID,RANK,VEHYEAR,VEHAGE,MAKE,MODEL,FUELTYPE,VEHTYPE,WHOMAIN,HFUEL,...,ST_CHARGERS_PERCAP,ST_CHARGERS_PERMI,CHARGERS_PERCAP,CHARGERS_PERMI,INC025,INC2550,INC50100,INC100150,INC150P,INC_MISS
HOUSEID,,,,,,,,,,,,,,,,,,,,,
30000007,1,1,2007,10,49,49032,1,1,3,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
30000007,2,4,2004,13,49,49442,1,2,-8,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
30000007,3,3,1998,19,19,19014,1,1,1,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
30000007,5,2,1993,24,20,20481,1,4,2,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
30000008,1,4,2014,3,20,20028,1,1,97,-1,...,0.000288,0.023895,0.000274,0.177695,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40794294,2,1,2011,6,20,20026,3,1,1,2,...,0.000721,0.161392,0.000493,0.403173,0,0,0,0,1,0
40794301,1,1,2012,5,37,37441,1,2,1,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
40794301,2,2,2005,12,49,49032,1,1,4,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
40794301,3,4,1996,21,35,35443,1,2,3,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0
40794301,5,3,1990,27,35,98998,1,1,1,-1,...,0.000273,0.048013,0.000273,0.048013,0,0,1,0,0,0

In [9]:
NHTS['CHOICE4']

HOUSEID
30000007    1110
30000007    2113
30000007    1119
30000007    4120
30000008    1103
            ...
40794294    1406
40794301    2105
40794301    1112
40794301    2120
40794301    1120
Name: CHOICE4, Length: 247689, dtype: int64

In [10]:
'''
Vehicle type: car:1, van:2, suv:3, pickup:4, motorcycle:5
Age: 1 - 20 years
Fuel type: gas:1, diesel:2, hybrid:3, pev:4, bev:5

'''
veh_type = ["1","2","3","4","5"]
fuel_type = ["1","2","3","4","5"]
car_age = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20"]
for veh in veh_type:
    for fuel in fuel_type:
        for age in car_age:
            temp = veh + fuel + str(age)
            print(f"Choice: {temp}")

Choice: 1101
Choice: 1102
Choice: 1103
Choice: 1104
Choice: 1105
Choice: 1106
Choice: 1107
Choice: 1108
Choice: 1109
Choice: 1110
Choice: 1111
Choice: 1112
Choice: 1113
Choice: 1114
Choice: 1115
Choice: 1116
Choice: 1117
Choice: 1118
Choice: 1119
Choice: 1120
Choice: 1201
Choice: 1202
Choice: 1203
Choice: 1204
Choice: 1205
Choice: 1206
Choice: 1207
Choice: 1208
Choice: 1209
Choice: 1210
Choice: 1211
Choice: 1212
Choice: 1213
Choice: 1214
Choice: 1215
Choice: 1216
Choice: 1217
Choice: 1218
Choice: 1219
Choice: 1220
Choice: 1301
Choice: 1302
Choice: 1303
Choice: 1304
Choice: 1305
Choice: 1306
Choice: 1307
Choice: 1308
Choice: 1309
Choice: 1310
Choice: 1311
Choice: 1312
Choice: 1313
Choice: 1314
Choice: 1315
Choice: 1316
Choice: 1317
Choice: 1318
Choice: 1319
Choice: 1320
Choice: 1401
Choice: 1402
Choice: 1403
Choice: 1404
Choice: 1405
Choice: 1406
Choice: 1407
Choice: 1408
Choice: 1409
Choice: 1410
Choice: 1411
Choice: 1412
Choice: 1413
Choice: 1414
Choice: 1415
Choice: 1416
Choice: 1417
Choice: 1418
Choice: 1419
Choice: 1420
Choice: 1501
Choice: 1502
Choice: 1503
Choice: 1504
Choice: 1505
Choice: 1506
Choice: 1507
Choice: 1508
Choice: 1509
Choice: 1510
Choice: 1511
Choice: 1512
Choice: 1513
Choice: 1514
Choice: 1515
Choice: 1516
Choice: 1517
Choice: 1518
Choice: 1519
Choice: 1520
Choice: 2101
Choice: 2102
Choice: 2103
Choice: 2104
Choice: 2105
Choice: 2106
Choice: 2107
Choice: 2108
Choice: 2109
Choice: 2110
Choice: 2111
Choice: 2112
Choice: 2113
Choice: 2114
Choice: 2115
Choice: 2116
Choice: 2117
Choice: 2118
Choice: 2119
Choice: 2120
Choice: 2201
Choice: 2202
Choice: 2203
Choice: 2204
Choice: 2205
Choice: 2206
Choice: 2207
Choice: 2208
Choice: 2209
Choice: 2210
Choice: 2211
Choice: 2212
Choice: 2213
Choice: 2214
Choice: 2215
Choice: 2216
Choice: 2217
Choice: 2218
Choice: 2219
Choice: 2220
Choice: 2301
Choice: 2302
Choice: 2303
Choice: 2304
Choice: 2305
Choice: 2306
Choice: 2307
Choice: 2308
Choice: 2309
Choice: 2310
Choice: 2311
Choice: 2312
Choice: 2313
Choice: 2314
Choice: 2315
Choice: 2316
Choice: 2317
Choice: 2318
Choice: 2319
Choice: 2320
Choice: 2401
Choice: 2402
Choice: 2403
Choice: 2404
Choice: 2405
Choice: 2406
Choice: 2407
Choice: 2408
Choice: 2409
Choice: 2410
Choice: 2411
Choice: 2412
Choice: 2413
Choice: 2414
Choice: 2415
Choice: 2416
Choice: 2417
Choice: 2418
Choice: 2419
Choice: 2420
Choice: 2501
Choice: 2502
Choice: 2503
Choice: 2504
Choice: 2505
Choice: 2506
Choice: 2507
Choice: 2508
Choice: 2509
Choice: 2510
Choice: 2511
Choice: 2512
Choice: 2513
Choice: 2514
Choice: 2515
Choice: 2516
Choice: 2517
Choice: 2518
Choice: 2519
Choice: 2520
Choice: 3101
Choice: 3102
Choice: 3103
Choice: 3104
Choice: 3105
Choice: 3106
Choice: 3107
Choice: 3108
Choice: 3109
Choice: 3110
Choice: 3111
Choice: 3112
Choice: 3113
Choice: 3114
Choice: 3115
Choice: 3116
Choice: 3117
Choice: 3118
Choice: 3119
Choice: 3120
Choice: 3201
Choice: 3202
Choice: 3203
Choice: 3204
Choice: 3205
Choice: 3206
Choice: 3207
Choice: 3208
Choice: 3209
Choice: 3210
Choice: 3211
Choice: 3212
Choice: 3213
Choice: 3214
Choice: 3215
Choice: 3216
Choice: 3217
Choice: 3218
Choice: 3219
Choice: 3220
Choice: 3301
Choice: 3302
Choice: 3303
Choice: 3304
Choice: 3305
Choice: 3306
Choice: 3307
Choice: 3308
Choice: 3309
Choice: 3310
Choice: 3311
Choice: 3312
Choice: 3313
Choice: 3314
Choice: 3315
Choice: 3316
Choice: 3317
Choice: 3318
Choice: 3319
Choice: 3320
Choice: 3401
Choice: 3402
Choice: 3403
Choice: 3404
Choice: 3405
Choice: 3406
Choice: 3407
Choice: 3408
Choice: 3409
Choice: 3410
Choice: 3411
Choice: 3412
Choice: 3413
Choice: 3414
Choice: 3415
Choice: 3416
Choice: 3417
Choice: 3418
Choice: 3419
Choice: 3420
Choice: 3501
Choice: 3502
Choice: 3503
Choice: 3504
Choice: 3505
Choice: 3506
Choice: 3507
Choice: 3508
Choice: 3509
Choice: 3510
Choice: 3511
Choice: 3512
Choice: 3513
Choice: 3514
Choice: 3515
Choice: 3516
Choice: 3517
Choice: 3518
Choice: 3519
Choice: 3520
Choice: 4101
Choice: 4102
Choice: 4103
Choice: 4104
Choice: 4105
Choice: 4106
Choice: 4107
Choice: 4108
Choice: 4109
Choice: 4110
Choice: 4111
Choice: 4112
Choice: 4113
Choice: 4114
Choice: 4115
Choice: 4116
Choice: 4117
Choice: 4118
Choice: 4119
Choice: 4120
Choice: 4201
Choice: 4202
Choice: 4203
Choice: 4204
Choice: 4205
Choice: 4206
Choice: 4207
Choice: 4208
Choice: 4209
Choice: 4210
Choice: 4211
Choice: 4212
Choice: 4213
Choice: 4214
Choice: 4215
Choice: 4216
Choice: 4217
Choice: 4218
Choice: 4219
Choice: 4220
Choice: 4301
Choice: 4302
Choice: 4303
Choice: 4304
Choice: 4305
Choice: 4306
Choice: 4307
Choice: 4308
Choice: 4309
Choice: 4310
Choice: 4311
Choice: 4312
Choice: 4313
Choice: 4314
Choice: 4315
Choice: 4316
Choice: 4317
Choice: 4318
Choice: 4319
Choice: 4320
Choice: 4401
Choice: 4402
Choice: 4403
Choice: 4404
Choice: 4405
Choice: 4406
Choice: 4407
Choice: 4408
Choice: 4409
Choice: 4410
Choice: 4411
Choice: 4412
Choice: 4413
Choice: 4414
Choice: 4415
Choice: 4416
Choice: 4417
Choice: 4418
Choice: 4419
Choice: 4420
Choice: 4501
Choice: 4502
Choice: 4503
Choice: 4504
Choice: 4505
Choice: 4506
Choice: 4507
Choice: 4508
Choice: 4509
Choice: 4510
Choice: 4511
Choice: 4512
Choice: 4513
Choice: 4514
Choice: 4515
Choice: 4516
Choice: 4517
Choice: 4518
Choice: 4519
Choice: 4520
Choice: 5101
Choice: 5102
Choice: 5103
Choice: 5104
Choice: 5105
Choice: 5106
Choice: 5107
Choice: 5108
Choice: 5109
Choice: 5110
Choice: 5111
Choice: 5112
Choice: 5113
Choice: 5114
Choice: 5115
Choice: 5116
Choice: 5117
Choice: 5118
Choice: 5119
Choice: 5120
Choice: 5201
Choice: 5202
Choice: 5203
Choice: 5204
Choice: 5205
Choice: 5206
Choice: 5207
Choice: 5208
Choice: 5209
Choice: 5210
Choice: 5211
Choice: 5212
Choice: 5213
Choice: 5214
Choice: 5215
Choice: 5216
Choice: 5217
Choice: 5218
Choice: 5219
Choice: 5220
Choice: 5301
Choice: 5302
Choice: 5303
Choice: 5304
Choice: 5305
Choice: 5306
Choice: 5307
Choice: 5308
Choice: 5309
Choice: 5310
Choice: 5311
Choice: 5312
Choice: 5313
Choice: 5314
Choice: 5315
Choice: 5316
Choice: 5317
Choice: 5318
Choice: 5319
Choice: 5320
Choice: 5401
Choice: 5402
Choice: 5403
Choice: 5404
Choice: 5405
Choice: 5406
Choice: 5407
Choice: 5408
Choice: 5409
Choice: 5410
Choice: 5411
Choice: 5412
Choice: 5413
Choice: 5414
Choice: 5415
Choice: 5416
Choice: 5417
Choice: 5418
Choice: 5419
Choice: 5420
Choice: 5501
Choice: 5502
Choice: 5503
Choice: 5504
Choice: 5505
Choice: 5506
Choice: 5507
Choice: 5508
Choice: 5509
Choice: 5510
Choice: 5511
Choice: 5512
Choice: 5513
Choice: 5514
Choice: 5515
Choice: 5516
Choice: 5517
Choice: 5518
Choice: 5519
Choice: 5520

In [ ]:
for ind, row in vehf12.iterrows():
    print( row["Coefficient"])

In [ ]:
'''

define a method where we find the utility for each household picking the choice
Rows will be the HouseholdID
Columns will be the choice for the 500 alternatives


'''

def calc_utility(x):
    utility = vehf12.loc['i025_age', "Coefficient"] * NHTS['INC025'] + vehf12.loc['i2550_age', "Coefficient"] * NHTS['INC2550']+ vehf12.loc['i100_age', "Coefficient"] * NHTS['INC100150']+ vehf12.loc['i150p_age', "Coefficient"] * NHTS['INC150P']
    return utility
NHTS["util_1101"] = NHTS.apply(calc_utility,axis=1)
NHTS

In [ ]:
####
for each household:
    util=0
    find the HHAMP equivalent:
        variable = HHAM
        for veh in veh_type:
            for age in car_age:
                temp = veh + str(age)
                print(f"Utility: {temp}")
                # fetch co-efficient corresponding to the temp value
                # coef = df.loc[temp,"coefficient"]
                # util +=variable*coef      
####

In [ ]:
'''
UTIL(101) = 0 
          + i025_age   * INC025a(1)
          + i2550_age  * INC2550a(1)
          + i100_age   * INC100150a(1)
          + i150p_age  * INC150Pa(1)
          + imiss_age  * INC_MISSa(1)
          + oneveh_age * ONEVEHa(1)
          + vhgtdr_age * VHGTDRa(1)
          + nchld_age  * NUM_CHLD3a(1)
          + dstwkt_age * DSTWKTa(1)
          + sfo_age    * SFOa(1)
          + san_age    * SANa(1)
          + atl_age    * ATLa(1)
          + sea_age    * SEAa(1)
          + det_age    * DETa(1)
          + msp_age    * MSPa(1)
          + dca_age    * DCAa(1)
          + oreg_age   * OREGa(1)
          + ohio_age   * OHIOa(1)
          + smsa_age   * SMSAa(1)
          + rural_age  * RURALa(1)
where 
    
'''